[submodule "bundle/nerd_tree"]
	path = bundle/nerd_tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/nerd_commenter"]
	path = bundle/nerd_commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/objj"]
	path = bundle/objj
	url = https://github.com/nanki/vim-objj.git
[submodule "bundle/color_molokai"]
	path = bundle/color_molokai
	url = https://github.com/mrtazz/molokai.vim.git
